aa_maitreya_icon	ICON "../icons/maitreya.ico"
ashtakavarga_icon	ICON "../icons/ashtakavarga.ico"
chart_icon	ICON "../icons/chart.ico"
chart9_icon	ICON "../icons/chart9.ico"
config_icon	ICON "../icons/config.ico"
dasa_icon	ICON "../icons/dasa.ico"
edit_icon	ICON "../icons/edit.ico"
ephem_icon	ICON "../icons/ephem.ico"
eclipse_icon	ICON "../icons/eclipse.ico"
graphicaldasa_icon	ICON "../icons/graphicaldasa.ico"
hora_icon	ICON "../icons/hora.ico"
mview_icon	ICON "../icons/mview.ico"
partner_icon	ICON "../icons/partner.ico"
sbc_icon	ICON "../icons/sbc.ico"
shadbala_icon	ICON "../icons/shadbala.ico"
solar_icon	ICON "../icons/solar.ico"
sview_icon	ICON "../icons/sview.ico"
text_icon	ICON "../icons/text.ico"
transit_icon	ICON "../icons/transit.ico"
uranian_icon	ICON "../icons/uranian.ico"
varga_icon	ICON "../icons/varga.ico"
wchart_icon	ICON "../icons/wchart.ico"
world_icon	ICON "../icons/world.ico"
yoga_icon	ICON "../icons/yoga.ico"
yogaeditor_icon	ICON "../icons/yogaeditor.ico"

#include "wx/msw/wx.rc"
