[Desktop Entry]
Encoding=UTF-8
Name=Maitreya7
Comment=Astrology Software
Exec=maitreya7
Icon=maitreya
GenericName=Maitreya
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;
